<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/pencil-tool.css') }}">

<div class="edit-button" id="pencil">
  <label>
    <input type="checkbox" name="pencil">
    <span class="tool-button">
      <ion-icon name="pencil-sharp"></ion-icon>
    </span>
  </label>
</div>

<div id="options" class="hide">
  <div id="colors-container">
    <div class="pencil-color" id="grey" data-value="0"></div>
    <div class="pencil-color" id="green" data-value="1"></div>
    <div class="pencil-color" id="yellow" data-value="2"></div>
    <div class="pencil-color" id="red" data-value="3"></div>
  </div>

  <loader-component></loader-component>
</div>

<div id="options-arrow" class="triangle-down hide"></div>