<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/components/toolbar.css') }}">

<div id="options" class="fade-in-up">

  <select-component></select-component>

  <div id="separator"></div>

  <brush-tool class="brush tool"></brush-tool>

  <pencil-tool class="pencil tool"></pencil-tool>

  <div id="clear" class="tool-button"><ion-icon name="trash-sharp"></ion-icon></div>

  <div id="reload" class="tool-button"><ion-icon name="reload-sharp"></ion-icon></div>

</div>