@import '../utils.css';
@import '../selection.css';

.container {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#attendance-table {
  max-height: 100%;
  overflow: hidden;
  font-size: 15px;
}

#other-users {
  height: 90%;
  display: block;
  overflow-y: scroll;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding: 0 5px;
  padding-bottom: 5px;
}

.row > .cell, .row > .header:not(:first-child) {
  flex: 1;
  text-align: center;
}

.row > .header:first-child, .empty-header {
  width: 100px;
}

.row, .header, .cell {
  transition: 0.2s;
}

.header, .cell {
  padding: 5px 0;
  border-radius: 10%;
  box-sizing: border-box; 
}

.cell:hover {
  transform: scale(130%);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.cell:active {
  box-shadow: 0 0 2px 2px rgba(255,255,255,0.5);
}

.header {
  font-size: 15px;
}

.row:first-child .header:not(:first-child):hover {
  background-color: var(--color-highlight);
  border-radius: 20%;
}

#attendance-table > .row:first-child .header {
  font-family: monospace, monospace;
  font-weight: bold;
}