@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

@import 'colors.css';
@import 'urls.css';
@import 'selection.css';

*::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
  touch-action: manipulation; /* Remove 300ms tap delay */
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

hr {
  border: none;
  height: 1px;
  color: var(--text);  /* Old IE */
  background-color: var(--text);  /* Modern Browsers */
}