<!DOCTYPE html>
<html lang = "en">

<head>

  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86" /> <!-- For mobile adapting -->
  <link rel="icon" href="{{ url_for('static',filename='iamages/favicon.ico') }}" type="image/x-icon" />
  <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" /> <!-- To support IE as well -->
  <title>Big Table App</title>
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{% endblock %}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

  <script>
    let currentPage = '{{ current_page }}';
    let config = {{ config|tojson }};
    {% if data %}
        let data = {{ data|tojson }};
    {% endif %}
  </script>

  <script type="module" src="{{ url_for('static',filename='js/main.js') }}" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>

<body>

  <div id="root"></div>

</body>

</html>